rules_version ="2";

service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }
    function hasAccess(cid, access, db) {
      //allow access for admin, access provided in list, or cid == uid
      return (request.auth.uid in access.admin) || (request.auth.uid in access[db] || request.auth.uid == cid);
    }
    function getAccess(cid) {
  		return get(/databases/$(database)/documents/child_access/$(cid)).data;
    }

    // *** Start users_childs middle collection
    function hasUsersChildsRecord(cid) {
      let uid = request.auth.uid;
      let uid_cid = uid + "_" + cid;
      return exists(/databases/$(database)/documents/users_childs/$(uid_cid));
    }
    match /users_childs/{uid_cid} {
      //allow list: if isSignedIn();
      //allow get, update, delete: if isSignedIn() && (request.auth.uid == uid_cid.split('_')[0]);
      //allow create: if isSignedIn() && !exists(/databases/$(database)/documents/users_childs/$(uid_cid));
      allow read, write: if isSignedIn() && request.auth.uid == resource.data.uid;
      allow update: if (!request.resource.data.diff(resource.data).affectedKeys().hasAny(['uid', 'cid']));
    }
    // *** End users_childs middle collection

    match /sleep/{cid} {
      allow read,write: if isSignedIn() && (request.auth.uid == cid || hasAccess(cid, getAccess(cid), 'sleep') || hasUsersChildsRecord(cid));
      match /intervals/{id} {
        allow read,write: if isSignedIn() && (request.auth.uid == cid || hasAccess(cid, getAccess(cid), 'sleep') || hasUsersChildsRecord(cid));
      }
    }
    match /pump/{cid} {
      allow read,write: if isSignedIn() && (request.auth.uid == cid || hasAccess(cid, getAccess(cid), 'pump') || hasUsersChildsRecord(cid));
      match /intervals/{id} {
        allow read,write: if isSignedIn() && (request.auth.uid == cid || hasAccess(cid, getAccess(cid), 'pump') || hasUsersChildsRecord(cid));
      }
    }
    match /feed/{cid} {
      allow read,write: if isSignedIn() && (request.auth.uid == cid || hasAccess(cid, getAccess(cid), 'feed') || hasUsersChildsRecord(cid));
      match /intervals/{id} {
        allow read,write: if isSignedIn() && (request.auth.uid == cid || hasAccess(cid, getAccess(cid), 'feed') || hasUsersChildsRecord(cid));
      }
      // match /prefs/reminderV2/atReminder/{id} {
      //   allow read,write,delete: if isSignedIn() && request.auth.uid == uid;
      // }
    }
    match /diaper/{cid} {
      allow read,write: if isSignedIn() && (request.auth.uid == cid || hasAccess(cid, getAccess(cid), 'diaper') || hasUsersChildsRecord(cid));
      match /intervals/{id} {
        allow read,write: if isSignedIn() && (request.auth.uid == cid || hasAccess(cid, getAccess(cid), 'diaper') || hasUsersChildsRecord(cid));
      }
    }
    match /insights/{cid} {
      allow read,write: if isSignedIn() && (request.auth.uid == cid || hasAccess(cid, getAccess(cid), 'insights') || hasUsersChildsRecord(cid));
      match /insight/{id} {
        allow read,write: if isSignedIn() && (request.auth.uid == cid || hasAccess(cid, getAccess(cid), 'insights') || hasUsersChildsRecord(cid));
      }
      match /dailyTips/{id} {
        allow read,write: if isSignedIn() && (request.auth.uid == cid || hasAccess(cid, getAccess(cid), 'insights') || hasUsersChildsRecord(cid));
      }
      match /miniPlans/{id} {
        allow read,write: if isSignedIn() && (request.auth.uid == cid || hasAccess(cid, getAccess(cid), 'insights') || hasUsersChildsRecord(cid));
      }
    }
    
    match /activities/{cid} {
      allow read,write: if isSignedIn() && (request.auth.uid == cid || hasAccess(cid, getAccess(cid), 'activities') || hasUsersChildsRecord(cid));
      match /intervals/{id} {
        allow read,write: if isSignedIn() && (request.auth.uid == cid || hasAccess(cid, getAccess(cid), 'activities') || hasUsersChildsRecord(cid));
      }
    }
    match /health/{cid} {
      allow read,write: if isSignedIn() && (request.auth.uid == cid || hasAccess(cid, getAccess(cid), 'health') || hasUsersChildsRecord(cid));
      match /data/{id} {
        allow read,write: if isSignedIn() && (request.auth.uid == cid || hasAccess(cid, getAccess(cid), 'health') || hasUsersChildsRecord(cid));
      }
      match /types/{id} {
        allow read,write: if isSignedIn() && (request.auth.uid == cid || hasAccess(cid, getAccess(cid), 'health') || hasUsersChildsRecord(cid));
      }
    } 
     match /types/{cid} {
      allow read,write: if isSignedIn() && (request.auth.uid == cid || hasAccess(cid, getAccess(cid), 'health') || hasUsersChildsRecord(cid));
      match /custom/{id} {
        allow read,write: if isSignedIn() && (request.auth.uid == cid || hasAccess(cid, getAccess(cid), 'health') || hasUsersChildsRecord(cid));
      }
    }
    match /recommendations/{cid} {
      allow read,write: if isSignedIn() && (request.auth.uid == cid || hasAccess(cid, getAccess(cid), 'admin') || hasUsersChildsRecord(cid));
      match /recset/{id} {
        allow read,write: if isSignedIn() && (request.auth.uid == cid || hasAccess(cid, getAccess(cid), 'admin') || hasUsersChildsRecord(cid));
      }
    }
    match /feedback/{cid} {
      allow read,write: if isSignedIn() && (request.auth.uid == cid || hasAccess(cid, getAccess(cid), 'admin') || hasUsersChildsRecord(cid));
      match /feedback/{id} {
        allow read,write: if isSignedIn() && (request.auth.uid == cid || hasAccess(cid, getAccess(cid), 'admin') || hasUsersChildsRecord(cid));
      }
    }
    
    match /parent_preferences/{uid} {
      allow read,write: if isSignedIn() && request.auth.uid == uid;
    }
    match /panda_ab_test/{uid} {
      allow read,write: if isSignedIn() && request.auth.uid == uid;
    }
    match /notifications/{uid} {
      allow read,write: if isSignedIn() && request.auth.uid == uid;
      match /messages/{id} {
        allow read,write: if isSignedIn() && request.auth.uid == uid;
      }
    }  
    
    match /rec_requests/{uid} {
      allow read,write: if isSignedIn() && request.auth.uid == uid;
      match /requests/{id} {
        allow read,write: if isSignedIn() && request.auth.uid == uid;
      }
    }
    
    // ---Bedtime magic permissions---
    match /stories/{cid} {
      allow read,write,create: if isSignedIn() && (request.auth.uid == cid || hasAccess(cid, getAccess(cid), 'stories') || hasUsersChildsRecord(cid));
    }
    match /routines/{cid} {
      allow read,write,create: if isSignedIn() && (request.auth.uid == cid || hasAccess(cid, getAccess(cid), 'routines') || hasUsersChildsRecord(cid));
      
      match /routine/{id} {
        allow read,write,create: if isSignedIn() && (request.auth.uid == cid || hasAccess(cid, getAccess(cid), 'routines') || hasUsersChildsRecord(cid));
      }
      
      match /reminders/{id} {
        allow read,write,create: if isSignedIn() && (request.auth.uid == cid || hasAccess(cid, getAccess(cid), 'reminders') || hasUsersChildsRecord(cid));
      }
    }
    match /adventures/{cid} {
      allow read,write,create: if isSignedIn() && (request.auth.uid == cid || hasAccess(cid, getAccess(cid), 'adventures') || hasUsersChildsRecord(cid));
      
      match /adventure/{id} {
        allow read,write,create: if isSignedIn() && (request.auth.uid == cid || hasAccess(cid, getAccess(cid), 'adventures') || hasUsersChildsRecord(cid));
      }
    }
    
    
    // ---END Bedtime magic permissions---
  
    // ---Begin RK MIGRATIONS---
    match /checkins/{cid} {
    	allow read,write: if isSignedIn() && hasAccess(cid, getAccess(cid), 'admin');
      
      match /responses/{rid} {
      	allow read,write: if isSignedIn() && hasAccess(cid, getAccess(cid), 'admin');
      }
    }
    match /checkins_usage/{uid} {
    	allow read, write: if isSignedIn() && request.auth.uid == uid;
    }
    match /questionnaire/{cid} {
    	allow read,write: if isSignedIn() && hasAccess(cid, getAccess(cid), 'admin');
    }
    match /strategy/{cid} {
    	allow read,write: if isSignedIn() && hasAccess(cid, getAccess(cid), 'admin');
    }
    match /usage/{cid} {
    	allow read,write: if isSignedIn() && hasAccess(cid, getAccess(cid), 'admin');
      
      match /timerEnd/{date} {
      	allow read,write: if isSignedIn() && hasAccess(cid, getAccess(cid), 'admin');
      }
    }
    // ---End RK MIGRATIONS---
    
    match /celebrations/{cid} {
      allow read,write: if isSignedIn() && (request.auth.uid == cid || hasAccess(cid, getAccess(cid), 'celebrations') || hasUsersChildsRecord(cid));
    }
    
    match /users/{uid} {
      allow read,write: if isSignedIn() && request.auth.uid == uid;
    }    
    match /child_access/{cid} {
      allow read,write: if isSignedIn() && (request.auth.uid == cid || hasAccess(cid, getAccess(cid), 'admin'));
    	allow create: if isSignedIn() && !exists(/databases/$(database)/documents/child_access/$(cid));
    }
    match /childs/{cid} {
      // ADDED hasUsersChildsRecord(cid) for users_childs collection
      allow read,write: if isSignedIn() && (request.auth.uid == cid || hasAccess(cid, getAccess(cid), 'admin') || hasAccess(cid, getAccess(cid), 'sleep') || hasUsersChildsRecord(cid));
			allow create: if isSignedIn() && !exists(/databases/$(database)/documents/child_access/$(cid));
		}   
    
		// Helper function to check if the user has 'dayNightLabel' permission
    function hasDayNightLabelPermission(uid) {
      return 'dayNightLabel' in get(/databases/$(database)/documents/admins/$(uid)).data.permissions;
    }

    match /day_night_evaluation/{document=**} {
      allow read, write: if isSignedIn() && hasDayNightLabelPermission(request.auth.uid);
    }
  }
}